@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;600;700&family=Montserrat:wght@300;400;500;600;700&family=Inter:wght@400;500&display=swap');
@import "tailwindcss";

@theme {
  --font-serif: "Cormorant Garamond", serif;
  --font-sans: "Montserrat", sans-serif;
  --color-sandalwood: #3d2616;
  --color-gold: #c5a059;
  --color-parchment: #f5f2ed;
}
